.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.waves {
  position: absolute;
  bottom: 0;
  width: 100vw;

  height: 700px;

  div {
    position: absolute;
    height: 100%;
  }
}
.logoAndName {
  display: flex;
  flex-direction: column;
  z-index: 1;

  img {
    height: 250px;
  }
  button {
    margin-top: 30px;
    border-radius: 15px;
    padding: 7px;
    background-color: #002137;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
